.segunda {
    display: inline-flex;
}

.formulario {
    align-items: flex-start;
    padding-right: 50px;
}

.campo {
    width: 200px !important;
}

.checkFormulario {
    opacity: unset !important;
    pointer-events: all !important;
    width: 20px;
    height: 20px;
}